language: php
services:
- mysql
php:
- 5.6
- 7.0
- 7.1
cache:
  directories:
  - vendor
before_install:
- composer self-update
install:
- composer install --no-interaction
before_script:
- mysql -e 'CREATE DATABASE test;'
- cp .env.travis .env
- php artisan key:generate
- php artisan migrate
script:
- vendor/bin/phpunit
